body{
    margin:0;
    padding:0;
    font-family: "Archivo Black", sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100000;
    margin:0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color:rgb(88, 1, 112);
    box-shadow: 0px 16px 32px rgba( 0, 0, 0, 0.5);
}

.navbar li{
    flex: 1;
}

.navbar a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgb(252, 226, 255);
    padding: 14px;
}

.navbar a:hover{
    text-decoration: underline;
}

.opener{
    display: flex;
    height: 100vh;
    background-color: rgb(88, 1, 112);
    color: rgb(252, 226, 255);
    margin:0;
    padding:0;
    flex-direction: column;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;
}

.first-name{
    margin: -90px 4px;
    padding: 0px;
}

.middle-name{
    margin: -60px 4px;
    padding: 0px;
}

.middle_name_h1{
    width:auto;

}

.opener-img{
    left: 870px;
    bottom:180px;
    position: relative;
    width: 400px;
}

.last-name{
    margin: -500px 4px;
}

.opener h1{
    font-size: 100px;
}

.aboutme{
    height: 100vh;
    background-color: rgb(150, 0, 167);
    margin: -40px 0px;
    padding:0;
    color: rgb(252, 226, 255);
}

.aboutme h2{
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
}

.projects{
    height: 100vh;
    background-color: rgb(242, 124, 255);
    margin: -27px 0px;
}

.experience{
    height: 100vh;
    background-color: rgb(247, 164, 255);
    margin: -27px 0px;
}

.schooling{
    height: 100vh;
    background-color: rgb(250, 197, 255);
    margin: -27px 0px;
}

.contact{
    height: 100vh;
    background-color: rgb(251, 218, 255);
    margin: -27px 0px;
}
