body{
    margin:0;
    padding:0;
    font-family: "Archivo Black", "Google Sans";
}

body.darkmode {
    margin:0;
    padding:0;
    font-family: "Archivo Black", "Google Sans";
}

html {
    scroll-behavior: smooth;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100000;
    margin:0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color:rgb(88, 1, 112);
    font-family: "Google Sans";
    box-shadow: 0px 16px 32px rgba( 0, 0, 0, 0.5);
}

body.darkmode .navbar{
    position: sticky;
    top: 0;
    z-index: 100000;
    margin:0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color:black;
    font-family: "Google Sans";
    box-shadow: 0px 16px 32px rgba( 0, 0, 0, 0.5);
}

.navbar li{
    flex: 1;
    display: block;
    text-align: center;
    color: rgb(252, 226, 255);
    padding: 14px;
}

body.darkmode .navbar li{
    flex: 1;
    display: block;
    text-align: center;
    color: white;
    padding: 14px;
}

.navbar a{
    text-decoration: none;
    color: rgb(252, 226, 255);
}

body.darkmode .navbar a{
    text-decoration: none;
    color: white;
}

.navbar li:hover{
    text-decoration: underline;
}

.opener{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(88, 1, 112);
    color: rgb(252, 226, 255);
    font-weight: 400;
    font-family: "Archivo Black", sans-serif;
    padding: 0 2%;
    overflow: hidden;
}

body.darkmode .opener{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 400;
    font-family: "Archivo Black", sans-serif;
    padding: 0 2%;
    overflow: hidden;
}

.name-container{
    flex-direction: column;
    display: flex;
    z-index: 4;
    animation: nameGrowth 3s ease-in-out infinite;
}

.name-container h1{
    font-size: 80px;
    line-height: 0.9;
    margin: 0;
    z-index: 4;
}

.navbar-img-container {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    height: 700px;
}

.opener-img{
    width: 40vw;
    z-index: 2;
    position: absolute;
}

body.darkmode .opener-img{
    width: 40vw;
    z-index: 2;
    position: absolute;
    filter: grayscale(100%);
}


.details1-img {
    width: 100vw;
    z-index: 1;
    right: -375px;
    bottom: -200px;
    position: absolute;
}

body.darkmode .details1-img {
    width: 100vw;
    z-index: 1;
    right: -375px;
    bottom: -200px;
    position: absolute;
    filter: grayscale(100%);
}

@keyframes nameGrowth {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05)
    }
    100%{
        transform: scale(1.0);
    }
}

.aboutme{
    height: 70vh;
    background-color: rgb(150, 0, 167);
    margin: 0px 0px;
    font-family: 'Google Sans';
    color: rgb(252, 226, 255);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

body.darkmode .aboutme{
    height: 70vh;
    background-color: black;
    margin: 0px 0px;
    font-family: 'Google Sans';
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.aboutme-container {
    flex-direction: column;
}

.aboutme-title{
    font-size: 2.5em;
    font-weight: bold;
}

.aboutme-header {
    width: 30vh;
    text-align: center;
    margin-left: 7vw;
    margin-top: 8vh;
    padding: 0;
    border-radius: 2px;
}
.aboutme-content{
    width: 30vw;
    height: 50vh;
    padding: 0;
    margin-left: 8vw; 
    font-size: 1.0em;
    font-weight: none;
    background-color:rgb(88, 1, 112);
    border-radius: 2%;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    padding: 16px;
    height: 170px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

body.darkmode .aboutme-content{
    width: 30vw;
    height: 50vh;
    padding: 0;
    margin-left: 8vw; 
    font-size: 1.0em;
    font-weight: none;
    background-color: black;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
    border-radius: 2%;
    border-color: white;
    padding: 16px;
    height: 170px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.aboutme-content:hover {
    transform: scale(1.2);
}
.aboutme-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-details-1{
    z-index: 1;
    width: 14vw;
    margin-left: -65vw;
    margin-top: -11vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
}

body.darkmode .about-details-1{
    z-index: 1;
    width: 14vw;
    margin-left: -65vw;
    margin-top: -11vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
    filter: grayscale(100%);
}

.about-details-2{
    z-index: 1;
    width: 14vw;
    margin-left: -28vw;
    margin-top: 11vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
}

body.darkmode .about-details-2{
    z-index: 1;
    width: 14vw;
    margin-left: -28vw;
    margin-top: 11vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
    filter: grayscale(100%);
}

@keyframes gear-rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.about-me-img {
    width: 22vw;
    border-radius: 50%;
    margin-left: -47vw;
    z-index: 2;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

body.darkmode .about-me-img {
    width: 22vw;
    border-radius: 50%;
    margin-left: -47vw;
    z-index: 2;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    filter: grayscale(100%);
}

.about-me-img:hover{
    transform: scale(1.1);
}

.projects{
    height: 100vh;
    background-color: rgb(195, 76, 208);
    font-family: "Google Sans";
    margin: 0px 0px;
    color: rgb(252, 226, 255);
    display: flex;
    overflow: hidden;
}

body.darkmode .projects{
    height: 100vh;
    background-color: black;
    font-family: "Google Sans";
    margin: 0px 0px;
    color: white;
    display: flex;
    overflow: hidden;
}


.project-carousel {
    flex-direction: row;
    justify-content: space-between;
}


.projects-title {
    font-size: 2.5em;
    font-weight: bold;
    width: 40vh;
    text-align: center;
    margin-left: 7vw;
    margin-top: 7vh;
    padding: 0;
}

.project-card-1{
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-left: 40vw;
    margin-top: 17vh;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 5px 7px 0px rgb(53, 1, 67, 1);
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 0.3;
    font-size: 1.1em;
}

body.darkmode .project-card-1{
    background-color: black;
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-left: 40vw;
    margin-top: 17vh;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 0.3;
    font-size: 1.1em;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.project-card-1 img {
    width: 20vw;
    align-self: center;
}

body.darkmode .project-card-1 img {
    width: 20vw;
    align-self: center;
    filter: grayscale(100%);
}

.project-card-1 button a {
    color: rgb(252, 226, 255);
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Google Sans";
}

body.darkmode .project-card-1 button a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Google Sans";
}

.project-card-1 button{
    height: 7vh;
}

.project-card-1 button:hover{
    text-decoration: underline;
}


.project-card-2{
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-top: -62.7vh;
    margin-left: 7vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 5px 7px 0px rgb(53, 1, 67, 1);
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 1;
    font-size: 1.1em;
}

body.darkmode .project-card-2{
    background-color:black;
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-top: -62.7vh;
    margin-left: 7vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 1;
    font-size: 1.1em;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.project-card-2 button{
    height: 7vh;
}

.project-card-2 img {
    max-width: 20vw;
    align-self: center;
}

.project-card-2 button:hover {
    text-decoration: underline;
}

.project-card-3{
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-left: -26vw;
    margin-top: -62.7vh;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 5px 7px 0px rgb(53, 1, 67, 1);
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 0.3;
    font-size: 1.1em;
}

body.darkmode .project-card-3{
    background-color:black;
    border-radius: 4%;
    height: 30vw;
    width: 25vw;
    margin-left: -26vw;
    margin-top: -62.7vh;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    transition: transform 1s ease-in-out;
    opacity: 0.3;
    font-size: 1.1em;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.project-card-3 img {
    max-width: 20vw;
    align-self: center;
}

body.darkmode .project-card-3 img {
    max-width: 20vw;
    align-self: center;
    filter: grayscale(100%);
}

.project-card-3 button {
    height: 7vh;
}

.project-card-1:hover{
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
}

.project-card-2:hover{
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
}

.project-card-3:hover{
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
}

body.darkmode .project-card-1:hover,
.project-card-2:hover,
.project-card-3:hover {
    box-shadow: 0px 0px 0px rgb(0,0,0,0);
}

.project-btn-right-one {
    margin-top: 85vh;
    margin-left: -40vw;
}

.project-btn-right-disabled {
    margin-top: 85vh;
    margin-left: -10vw;
}

.project-btn-left-one {
    margin-top: 85vh;
    margin-left: -33vw;
}

.project-btn-left-disabled {
    margin-top: 85vh;
    margin-left: -10vw;
}

.project-btn-left-two {
    margin-top: 85vh;
    margin-left: -10vw;
}

.project-btn-right-two {
    margin-top: 85vh;
    margin-left: -10vw;
}

.project-btn-left-one,
.project-btn-right-one {
    z-index: 3;
}

.project-btn-left-disabled,
.project-btn-right-disabled{
    z-index: 2;
}

.project-btn-left-two,
.project-btn-right-two {
    z-index: 1;
}

.experience{
    height: 100vh;
    background-color: rgb(247, 164, 255);
    margin: 0px 0px;
    font-family: "Google Sans";
    color: rgb(150, 0, 167);
    display: flex;
    overflow: hidden;
}

body.darkmode .experience{
    height: 100vh;
    background-color: black;
    margin: 0px 0px;
    font-family: "Google Sans";
    color: white;
    display: flex;
    overflow: hidden;
}

.experience-header {
    font-size: 2.0em;
    font-weight: bold;
    width: 40vh;
    text-align: center;
    margin-left: 7vw;
    margin-top: 1vh;
}

.catapult-content {
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
    margin-top: 0vh;
    margin-left: 7vw;
    z-index: 2;
}

body.darkmode .catapult-content {
    background-color:black;
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    margin-top: 0vh;
    margin-left: 7vw;
    z-index: 2;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.catapult-content:hover {
    transform: scale(1.05);
}

.catapult h3 {
    font-size: 0.7em;
    text-align: center;
}

.catapult a {
    text-decoration: none;
    color: rgb(252, 226, 255);
}

body.darkmode .catapult a {
    text-decoration: none;
    color: white;
}

.catapult a:hover {
    color: lightskyblue;
}

body.darkmode .catapult a:hover {
    text-decoration: underline;
}

.experience-flip {
    background-color: transparent;
    perspective: 1000px;
    margin-left: 710px;
    margin-top: -300px;
    width: 22vw;
    height: 22vw;
}

.experience-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;

}

.experience-flip-front,
.experience-flip-back {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden; /*Makes the backface also hidden in Safari browsers*/
    backface-visibility: hidden;
}

.experience-flip-front {
    z-index:2;
}

.experience-flip-back {
    z-index: 1;
    transform: rotateY(180deg);
}

.catapult-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

body.darkmode .catapult-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

.signature-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

body.darkmode .signature-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

.catapult-details-1-img {
    margin-top: -24px; 
    margin-left: 509px;
    z-index: 0;
    width: 14vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
}

body.darkmode .catapult-details-1-img {
    margin-top: -24px; 
    margin-left: 509px;
    z-index: 0;
    width: 14vw;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
    filter: grayscale(100%);
}

.catapult-details-2-img {
    z-index: 0;
    width: 14vw;
    margin-left:736px;
    margin-top: 136px;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
}

body.darkmode .catapult-details-2-img {
    z-index: 0;
    width: 14vw;
    margin-left:736px;
    margin-top: 136px;
    position: absolute;
    animation: gear-rotate 4s linear infinite;
    filter: grayscale(100%);
}

.signature-content {
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
    margin-top: -336px;
    margin-left: 7vw;
    font-size: 0.9em;
    z-index: 1;
}

body.darkmode .signature-content {
    background-color:black;
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    margin-top: -336px;
    margin-left: 7vw;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.experience-right-one {
    position: relative;
    margin-left: 600px;
    top: 10vh;
    z-index: 5;

}

.experience-left-one {
    position: relative;
    margin-left: 350px;
    top: -0.3vh;
    z-index: 5;

}

.experience-right-two {
    position: relative;
    margin-left: 600px;
    top: -10vh;
    z-index: 5;
}

.experience-left-two {
    position: relative;
    top: -20.3vh;
    margin-left: 350px;
    z-index: 5;

}

.skills{
    height: 100vh;
    background-color: rgb(250, 197, 255);
    margin: 0px 0px;
    font-family: "Google Sans";
    color: rgb(123, 8, 121);
    display: block;
    padding: 0px;
    overflow: hidden;
}

body.darkmode .skills{
    height: 100vh;
    background-color: black;
    margin: 0px 0px;
    font-family: "Google Sans";
    color: black;
    display: block;
    padding: 0px;
    overflow: hidden;
}

.skills-header{
    font-size: 2em;
    text-align: center;
    margin-left: 0vw;
    height: 20vw;
    width: 70vw;
    margin-top: 8vh;
    padding: 0;
    border-radius: 2px;
}

body.darkmode .skills-header{
    font-size: 2em;
    text-align: center;
    margin-left: 0vw;
    height: 20vw;
    width: 70vw;
    margin-top: 8vh;
    padding: 0;
    border-radius: 2px;
    color: white;
}

.skills h2,
.contact h2 {
    margin-top: 0;
}

.side-profile-img {
    position: relative;
    top: -40vh;
    max-width: 60vw;
    margin-left: 50vw;
}

body.darkmode .side-profile-img {
    position: relative;
    top: -40vh;
    max-width: 60vw;
    margin-left: 50vw;
    filter: grayscale(100%);
}

.style {
    position: relative;
    z-index: 10;
    margin-top: -70vw;
    margin-left: 70vw;
}

.style:hover {
    text-decoration: underline;
}

.index {
    position: relative;
    z-index: 10;
    margin-left: 79vw;
    margin-top: -5vh;
}

.index:hover {
    text-decoration: underline;
}

.script {
    position: relative;
    z-index: 10;
    margin-left: 87vw;
    margin-top: 7vh;
}

.script:hover {
    text-decoration: underline;
}

.python {
    position: relative;
    z-index: 10;
    margin-left: 86vw;
    margin-top: 12vh;
}

.python:hover {
    text-decoration: underline;
}

.robotics {
    position: relative;
    z-index: 10;
    margin-left: 75vw;
    margin-top: -13vh;
}

.robotics:hover {
    text-decoration: underline;
}

.art {
    position: relative;
    z-index: 10;
    margin-left: 68.5vw;
    margin-top: -12vh;
    width: 10vw;
}

.art:hover {
    text-decoration: underline;
}

.art-content {
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
    margin-top: -53vh;
    margin-left: 15vw;
    z-index: top;
}

body.darkmode .art-content {
    background-color: black;
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    margin-top: -53vh;
    margin-left: 15vw;
    z-index: top;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.art-header,
.art-para {
    font-size: 1.5em;
}

.style-content {
    margin-top: -20vh;
    margin-left: 15vw;
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
}

body.darkmode .style-content {
    margin-top: -20vh;
    margin-left: 15vw;
    background-color: black;
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.index-content {
    margin-top: -50vh;
    margin-left: 15vw;
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
}

body.darkmode .index-content {
    margin-top: -50vh;
    margin-left: 15vw;
    background-color: black;
    border-radius: 4%;
    height: 25vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.script-content {
    margin-top: -53vh;
    margin-left: 15vw;
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
}

body.darkmode .script-content {
    margin-top: -53vh;
    margin-left: 15vw;
    background-color:black;
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}


.python-content{
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
    margin-top: -59vh;
    margin-left: 15vw;
}

body.darkmode .python-content{
    background-color: black;
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    margin-top: -59vh;
    margin-left: 15vw;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}


.robotics-content {
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    position: relative;
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
    margin-top: -59vh;
    margin-left: 15vw;
}

body.darkmode .robotics-content {
    background-color:black;
    border-radius: 4%;
    height: 27vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    position: relative;
    color: white;
    transition: transform 1s ease-in-out;
    margin-top: -59vh;
    margin-left: 15vw;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.robotics-header,
.robotics-para {
    font-size: 1.4em;
}

.python-header,
.python-para {
    font-size: 1.4em;
}

.script-header,
.script-para {
    font-size: 1.5em;
}

.index-header,
.index-para {
    font-size: 1.5em;
}

.style-header {
    font-size: 1.5em;
}

.style-para {
    font-size: 1.5em;
}

.contact{
    height: 80vh;
    background-color: rgb(251, 218, 255);
    font-family: "Google Sans";
    color: rgb(123, 8, 121);
    overflow: hidden;
    overflow: hidden;
}

body.darkmode .contact{
    height: 80vh;
    background-color: black;
    font-family: "Google Sans";
    color: white;
    overflow: hidden;
    overflow: hidden;
}

.contact-header {
    position: relative;
    width: 60vh;
    text-align: center;
    margin-left: 5vw;
    margin-top: 10vh;
    border-radius: 2px;
    font-size: 2.0em;
}

.contact-content {
    position: relative;
    margin-left: 33vw;
    background-color:rgb(88, 1, 112);
    border-radius: 4%;
    height: 10vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    box-shadow: 10px 15px 0px rgb(53, 1, 67, 1);
    color: rgb(252, 226, 255);
    transition: transform 1s ease-in-out;
}

body.darkmode .contact-content {
    position: relative;
    margin-left: 33vw;
    background-color:black;
    border-radius: 4%;
    height: 10vw;
    width: 25vw;
    padding: 1.5vw;
    text-align: center;
    border-color: white;
    color: white;
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 0px rgb(53, 1, 67, 0);
}

.contact-content:hover {
    transform: scale(1.1);
}

.email:hover,
.phone:hover {
    text-decoration: underline;
}

.email a {
    text-decoration: none;
    color: rgb(251, 218, 255);
}

body.darkmode .email a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(252, 226, 255);
    color: rgb(88, 1, 112);
    font-family: "Google Sans";
    text-align: center;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
    justify-content: center;
    border: rgb(88, 1, 112);
}

body.darkmode footer {
    background-color: black;
    color: white;
    font-family: "Google Sans";
    text-align: center;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
    justify-content: center;
}

button {
    color: rgb(252, 226, 255);
    background-color: rgb(123, 8, 121);
    width: 10vw;
    height: 10vh;
    border-radius: 50px;
    border-color: rgb(252, 226, 255);
}

body.darkmode button {
    color: white;
    background-color: black;
    width: 10vw;
    height: 10vh;
    border-radius: 50px;
    border-color: white;
}